<canvas id="scene"></canvas>
<div class="pageContainer">
  <div class="container heroContainer">
    <div class="title">
      <h1 style="font-size: 9.5rem; color: floralwhite">Bhenki</h1>
      <h3 style="font-size: 2.75rem; color: floralwhite">
        One API Every Bank In Africa
      </h3>
    </div>
  </div>
  <div class="intro card m-5">
    <div style="display: flex; flex-direction: column;">
      <h1>
        Bhenki Enables You To Connect Directly To Your Users Bank Accounts
      </h1>

      <div class="benifit">
        <img src="assets/images/lock.svg" />
        <p class="lead">Secure RESTful API</p>
      </div>
      <div class="benifit">
        <img src="assets/images/running.svg" />
        <p class="lead">Fast reliable access</p>
      </div>
      <div class="benifit">
        <img src="assets/images/yoga-posture.svg" />
        <p class="lead">Write once integrate with every bank</p>
      </div>
    </div>

    <div><img src="assets/images/analytics1.svg" /></div>
  </div>
  <div class="supportedContainer">
    <div class="supportedIntegrations">
      <div>
        <h4 class="text-center">Supported</h4>
        <div style="display: flex; justify-content: space-between;">
          <img src="assets/images/absa2.svg" />
          <img src="assets/images/fnb.svg" />
          <img src="assets/images/nedbank.svg" />
          <img src="assets/images/sb.svg" />
        </div>
      </div>
      <div>
        <h4 class="text-center">Coming Soon</h4>
        <div style="display: flex; justify-content: space-between;">
          <img src="assets/images/fr.svg" />
          <img src="assets/images/investec.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="row p-5 tech">
    <div class="col">
      <div class="card p-3">
        <h3 class="card-title">Direct Copy and Play Integrations</h3>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <img src="assets/images/js.svg" class="logo" />
                <button
                  class="btn btn-light"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  JS Widget
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body codeContainer">
                <img src="assets/images/code.png" />
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <img src="assets/images/android.svg" class="logo" />
                <button
                  class="btn btn-light"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Android SDK - Coming Soon
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <img src="assets/images/apple.svg" class="logo" />
                <button
                  class="btn btn-light"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  IOS SDK - Coming Soon
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-3">
        <h3 class="card-title">API Integration</h3>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <img src="assets/images/rest.svg" class="logo" />

                <button
                  class="btn btn-light"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  RESTful API
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body codeContainer">
                <img src="assets/images/code.png" />
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <img src="assets/images/gql.svg" class="logo" />

                <button
                  class="btn btn-light"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  GraphQL API - Coming Soon
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img src="assets/images/code.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="supportedContainer"
    style="display: flex; justify-content: center; flex-direction: column; align-items: center; "
  >
    <h2 style=" font-size: 5em">Bhenki is coming soon</h2>
    <p class="lead" style=" margin-bottom: 88px;">
      Join the waiting list to know when the floodgates of fintech disruption
      open.
    </p>
    <form
      style="width: 40vw; justify-content: center; display: flex; flex-direction: column"
    >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          placeholder="Name"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>

      <div class="form-group">
        <label for="text">How do you plan to use Bhenki</label>
        <input
          type="text"
          class="form-control"
          id="text"
          aria-describedby="emailHelp"
          placeholder="More info"
        />
      </div>

      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
