<canvas id="scene"></canvas>
<div class="pageContainer">
  <div class="container heroContainer">
    <div class="title">
      <h1 style="font-size: 9.5rem; color: floralwhite">Bhenki</h1>
      <h3 style="font-size: 2.75rem; color: floralwhite">
        One API Every Bank In Africa
      </h3>
    </div>
  </div>
  <div class="jumbotron">
    <h2>
      Enable your users to connect to their bank via your world changing app
    </h2>
    <img src="assets/images/analytics1.svg" />
  </div>

  <div class="container supportedIntegrations">
    <h1 class="text-center m-6 display-3" style="margin: 88px">
      Integrate Instantly With
    </h1>
    <div class="brands">
      <img src="assets/images/absa.svg" />
      <img src="assets/images/africa2.svg" />
      <img src="assets/images/fnb.svg" />
      <img src="assets/images/nedbank.svg" />
      <img src="assets/images/africa.svg" />
      <img src="assets/images/fnb.svg" />
    </div>
  </div>
</div>
